
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #ffffff;;
}
img{
   weight: 800px;
   height: 80px;
    }
header {
  background-color: #0044cc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #e0f0ff;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.hero .btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #2a2b2a;
  color: #e7ecec;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.subjects {
  padding: 2rem;
  text-align: center;
}

.subjects .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.subjects .card {
  background-color: #97c4e9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
}

footer {
  background-color: #0044cc;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
ul {
  font-family: pri;
  font-size: 20px;
  font-style: oblique;
  
}
button{
  background-color: rgb(13, 93, 185);
  color: rgb(11, 12, 12);
  
}